<!DOCTYPE html>
<html lang="sv">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <main class = "container">
    <ul>
      <% movies.map((movie) =>{ %>
        <li class="">
          <%= movie.attributes.title %>
          <%= movie.attributes.intro %>
        </li>
      <% }) %>
    </ul>
  </main>
<header>
  <%- include('./partials/header'); %>
</header>
  <%- include('./partials/secNav'); %>
<main>
  
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>
</body>
</html>