<!DOCTYPE html>
<html lang="sv">
<head>
  <%- include('./partials/head'); %>
</head>
<header>
  <%- include('./partials/header'); %>
</header>
<%- include('./partials/secNav'); %>
<main class = "picture-container">
  <ul>
    <% movies.map((movie) =>{ %>
    <li class="cards">
      <p class="movie-title"><%= movie.attributes.title %></p>
      <img src=<%=movie.attributes.image.url %> alt="">
    </li>
    <% }) %>
  </ul>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>
</body>
</html>