<!DOCTYPE html>
<html lang="sv">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>
  <%- include('./partials/secNav'); %>
  <body class = "movie">
    <%- include('./partials/secNav'); %>
    <ul>
      <li class="movieCard">
        <p class="movie-intro"><%= movie.attributes.intro %></p>
        <img src=<%=movie.attributes.image.url %> alt=<%= movie.attributes.title %>>                                                             
      </li>
    </ul>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
  <script src="/js/script.js"></script>
  <script src="/js/secNav/secNav.js" type="module"></script>
</body>
</html>