<!DOCTYPE html>
<html lang="sv">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>
  <body>
    <h1 class="moviePage-title">
      <%= movie.attributes.title %>
    </h1>
    <ul class="movie">
      <li class="movieCard">
        <span class="intro-text"><%- movie.attributes.intro %></span>
        <img src=<%=movie.attributes.image.url %> alt=<%= movie.attributes.title %>>                                                             
      </li>
    </ul>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
  <script src="/js/script.js"></script>
  <script src="/js/secNav/secNav.js" type="module"></script>
</body>
</html>